.pen-overlay {
    position: relative;
    width: 120px;
    height: 120px;
    opacity: 1;
}

.pen-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.2s ease;
  }

  .pen-overlay:hover::before {
    background-image: url("../../images/pen.svg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: rgba(0,0,0,.8);
  }