.gallery {
    padding-top: 44px;
    width: min(100%, 880px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-gap: 20px 17px;
    justify-items: center;
  }
  
  @media screen and (max-width: 320px) {
    .gallery {
      grid-gap: 20px 19px;
      padding-top: 34px;
    }
  }