.sign-up__input_form_description {
    width: 358px;
    height: 27px;
    margin-top: 30px;
    background-color: black;
    color: white;
    border: 0;
    border-bottom: 2px solid rgb(255, 255, 255);
    border-color: white;
    }