.popup-registration__title {
    text-align: center;
    margin-right: 36px;
    margin-top: 32px;
    margin-bottom: 60px;
} 

@media screen and (max-width: 635px) {
    .popup-registration__title {
        margin-left: 18px;
    margin-right: 18px;
    margin-top: 40px;
    margin-bottom: 50px;
    
    }
  }